/*the style of the container of the mines*/
.minefield{
	border-style: solid;
	border-width: 2px;
	border-color: #4f4f4f;
	border-right-color:#787878;
	border-bottom-color:#787878;
	margin: 0 auto;
}

/*the main style of the mines*/
.mina{
	width: 40px;
	height: 30px;
	float: left;
	background-color: #FFF;
	border-style: solid;
	border-width: 2px;
	border-color: #787878;
	border-right-color:#4f4f4f;
	border-bottom-color:#4f4f4f; 
	cursor: pointer;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
	padding-top: 10px;
}

/*the style of the mine when it's activated and it doesn't got a bomb*/
.activa{
	background-color: #FFF;
	box-shadow: inset 1px 1px 15px #7a7a7a;
	border-color: #4f4f4f;
	border-right-color:#787878;
	border-bottom-color:#787878; 
}

/*the style of the mine when it's activated and it got a bomb*/
.explota{
	background-color: #F00;
}

/*the type of the font in the numbers*/
.tipo{
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bolder;
	font-size: 15px;
	text-align: center;
}

/*the color of the font in each case: cmina5 means that the mine touches 5 mines with bomb*/
.cmina1{ color:#00F; }
.cmina2{ color:#008000; }
.cmina3{ color:#F00; }
.cmina4{ color:#000080; }
.cmina5{ color:#800000; }
.cmina6{ color:#008080; }
.cmina7{ color:#FFF; }
.cmina8{ color:#b8b8b8; }
